<!-- About Section -->
 <style>
  .gallery__item {
  height: 800px;

  position: relative;
  display: flex;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
@media only screen and (max-width:400px){
  .gallery__item {
  height: 250px;

  position: relative;
  display: flex;
  box-sizing: border-box;
  grid-column-start: auto;
  grid-row-start: auto;
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

}}

 </style>

<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <figure class="gallery__item">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hbXe8AyRpSQ?autoplay=1" allow="autoplay">
              </iframe>
            <!-- <figcaption class="gallery__image__caption">Trains in a deposit</figcaption> -->
            </figure>
            <p style="font-size:20px; line-height: 1.8;">ChemSymphoria is an in-house symposium of the Department of Chemistry at IISER Pune. 
              The symposium aims to celebrate Chemistry Day within the department and features presentations 
              by distinguished scientists focusing on various aspects of innovative research in science and 
              technology. The platform also hosts presentations by final-year Ph.D. students, postdocs, industry 
              and academia alumni. Active involvement from students and faculty 
              has been an integral part of ChemSymphoria over the years.</p>
            <!-- <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}">
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div> -->
        </div>
    </div>
</section>
<!-- End About Section -->
